language: erlang
otp_release:
  - 23.0.1
  - 22.3.4
  - 21.3.8.1
  - 20.3.8.5
  - 19.3
  - 18.3
  - 17.5
before_script:
  - rebar get-deps
script:
  - rebar compile eunit suites=uuid
  - make app
after_script:
  - rebar clean
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - mjtruog@gmail.com
  irc:
    channels:
      - "chat.freenode.net#cloudi"
    template:
      - "%{repository_slug} (%{branch} - %{commit}) %{author}: %{commit_message}"
      - "View Changes %{compare_url}"
      - "Build #%{build_number}: %{message} (%{build_url})"
    on_success: change
    on_failure: always
