%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{erl_opts,
 [{platform_define, "^R16",  'ERLANG_OTP_VERSION_16'},
  {platform_define, "^17\.", 'ERLANG_OTP_VERSION_17'},
  {platform_define, "^18\.", 'ERLANG_OTP_VERSION_18'},
  {platform_define, "^19\.", 'ERLANG_OTP_VERSION_19'},
  {platform_define, "^20\.", 'ERLANG_OTP_VERSION_20'},
  warnings_as_errors,
  strict_validation,
  warn_bif_clash,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars]}.
{edoc_opts,
 [{preprocess, true}]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{deps,
 [{quickrand, ".*",
   {git, "https://github.com/okeuday/quickrand.git",
    {tag, "v2.0.4"}}}]}.

